.button {
    padding: 1.1rem;
    font-size: 2rem;
    color: white;
    background: black;
    border-radius: 10px;
    cursor: pointer;
}

.singleProduct {
    display: flex;
    padding: 10px;
}

.productImg {
    width: 70px;
}

.singleProduct > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}